.btn-order-page{
    width: 170px;
    height: 48px;
    background: #FF3030;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}
.btn-order-page:hover{
    cursor: pointer;
    background-color: rgb(0, 213, 142);
    color: black;
}